body {
    background: url(../images/art.jpg);
}
h1 {
    font-family: 'Tangerine', cursive;
    color: antiquewhite;
    text-align: center;
    font-size: 48px;
    margin-top: 10px;
}
p {
    color: antiquewhite;
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    padding: 20px;
}


